<form #myForm="ngForm" (ngSubmit)="update()">
    <div class="field">
        <div class="control">
            <label class="label">従業員No.</label>
            <label>{{emp.id}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">氏名</label>
            <input class="input" type="text" name="name" id="name" placeholder="氏名" [(ngModel)]="emp.name" #name="ngModel">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">年齢</label>
            <input class="input" type="number" name="age" id="age" placeholder="年齢" [(ngModel)]="emp.age" #age="ngModel">
        </div>
    </div>
    <div class="field">
        <label class="label">性別</label>
        <label class="radio">
            <input type="radio" name="sex" value="1" [(ngModel)]="emp.sex" #sex="ngModel">
            男
        </label>
        <label class="radio">
            <input type="radio" name="sex" value="2" [(ngModel)]="emp.sex" #sex="ngModel">
            女
        </label>
    </div>
    <div>
        <input class="button" type="submit" value="登録" [disabled]="myForm.invalid">
    </div>
</form>